body {
    background-color: #fff;
    color: #2a363b;
}

.navLogo {
    max-width: 50px;
}

.paddingRow {
    height: 84px;
}

.container-fluid {
    text-align: center;
}

.col-md {
    height: 100vh;
}

.centerButton {
    margin-top: 80vh;
}

.hutContainer img {
    max-width: 80%;
}

.hutContainer {
    background-color: #d1eaf3;
    border: 1px solid #57caf4;
    margin: 5px;
}
.hutContainer:hover {
    background-color: #CCC;
    cursor: pointer;
}

/* Color swapping on first page */
.swapColors:hover {
    background-color: #2a363b;
    color: #fff;
    transition: ease-in 0.3s;
}

/* NAVBAR STYLES */
/* navbar */
.navbar-default {
    background-color: #EBB48C;
    border-color: #EBB48C;
}

.bg-default {
    background-color: #57caf4;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
/* END OF NAVBAR STYLES */